<h2>All books</h2>

<div id="books">
  <% if books.any? %>
    <ul>
      <% books.each do |book| %>
        <li class="book">
          <%= link_to title_and_author(book), routes.edit_book_path(book.id) %>
          <%=
            form_for delete_form(book), {} do
              submit 'Delete'
            end
          %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="placeholder">There are no books yet.</p>
  <% end %>
</div>

<%= link_to 'Add a book', routes.new_book_path %>
